<!DOCTYPE html>
<html>
<head>
    <title>{{ category.name }} | Delete Item</title>
    <link rel="stylesheet" type="text/css" href="/static/formStyles.css">
</head>
<body>
<div class="header">
    <a class="title" href="{{url_for('showCatalog')}}"><h1 class="title">Outdoor Adventures</h1></a>
    {% if 'username' not in session %}
        <a class="login" href="{{url_for('showLogin')}}">Login</a>
    {% else %}
        <a class="login" href="{{url_for('disconnect')}}">Logout</a>
    {% endif %}
</div><!-- header -->
<div class="container">
    <h2>Delete {{ item.name }}?</h2>
    <hr>
    <form action="{{url_for('deleteItem', category_id=category_id, item_id=item.id)}}" method="POST">
        <p>Are you sure you want to delete {{item.name}}?</p>
        <input type='submit' value='Delete'>
    </form>
    <a class="return" href="{{url_for('viewItem', category_id=category_id, item_id=item.id)}}">Cancel</a>
</div>
</body>
</html>